<form action="/login" method="post" [formGroup]="registerUser">
  <div class="form-content" >
    <label>Nom</label>
    <input type="text" name="lastname" formControlName="lastname" placeholder="Nom" required />
    <label>Prénom</label>
    <input type="text" name="firstname" formControlName="firstname" placeholder="Prénom" required />
    <label>Email</label>
    <input type="email" name="email" formControlName="email" placeholder="Email" required />
    <label>Mot de passe</label>
    <input type="password" name="password" formControlName="password" placeholder="Mot de passe" required />
    <button type="submit" [disabled]="!registerUser.valid" >S'enregistrer</button>
  </div>
</form>
